<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="Hec's Website"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://heccraft.com"/>
  <meta property="og:description" content="Hec's blog"/>
  <link rel="icon" type="image/png" href="./favicon.png">
  <link rel="stylesheet" type="text/css" href="./style.css">
<title>$PAGE_TITLE</title>
</head>

<header>
    <ul>
        <li>
            <div class="nav">
              <a href=".">
                <img class="logo" src="./img/header.png" alt="">
                Hec's Craft
            </div>
        </li>
    </ul>
</header>
<nav>
    <ul>
        <li>
             <a class="nav-button" href="./rss.xml">rss</a>
        </li><li>
             <a class="nav-button" href="https://www.youtube.com/channel/UC1KoQ6A0yq7NMFwQf1qMobQ">youtube</a>
        </li><li>
             <a class="nav-button" href="mailto:hec@heccraft.com">contact</a>
        </li><li>
             <a class="nav-button" href="https://odysee.com/$/invite/@Hec_:6">odysee</a>
        </li><li>
             <a class="nav-button" href="https://github.com/hecknt">github</a>
        </li>
    </ul>
</nav>

<article>
